<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <title>Products</title>
    </head>
    <body>
        {% include 'header.html' %}
        {% if products %}
        <table border="1">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Category</td>
                    <td>Price</td>
                </tr>
            </thead>

            <tbody>
                {% for product in products %}
                <tr>
                    {% for detail in product %}
                    <td>{{ detail }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{{ error }}</p>
        {% endif %}
        {% include 'footer.html' %}
    </body>
</html>