<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <title>Products</title>
    </head>
    <body>
        {% include 'header.html' %}
        {% if products %}
        <table border="1" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Category</td>
                    <td>Price</td>
                </tr>
            </thead>

            <tbody>
                {% for product in products %}
                <tr>
                    {% for key, value in product.items() %}
                    {% if key != "id" %}
                    <td>{{ value }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>
            {{ error }}
        </p>
        {% endif %}
        {% include 'footer.html' %}
    </body>
</html>